@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@300&family=Ubuntu&display=swap');


 *{
     margin: 0;
     padding: 0;
 }
 html{
     scroll-behavior: smooth;
 }
 
 
 
 .logo{
     width: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 

 .navbar{
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
     cursor: pointer;
     
     
 }
 .nav-list{
     
     width: 70%;
     display: flex;
     align-items: center;
     
     
     
 
 }
 
 .nav-list li{
 
     list-style: none;
     padding: 20px 30px;
     align-items: center;
 
 }
 
 .nav-list li a{
     text-decoration: none;
     color: white;
     font-size: 20px;
     font-family: "Ubuntu", sans-serif;
     
     
 
 }
 .nav-list li a:hover{
     text-decoration: none;
     color: grey
 
 }
 
 .rightnav {
     width: 30%;
     text-align: right;
     padding: 0 23px;
     
 }
 #search {
     padding: 5px;
     font-size: 17px;
     border: 2px solid grey;
     border-radius: 9px;
 }
 .background {
     background-color: rgba(7, 235, 185, 0.973);
     background-size: cover;
     background-blend-mode: darken;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .box-main {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     max-width: 50%;
     margin: auto;
     height: 75%;
    
 }
 
 .firstsection{
     height: 100vh;
 }
 
 .firsthalf {
 
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 .secondhalf {
     width: 30%;
 
 }
 .secondhalf img{
     width: 70%;
     border: 4px solid white;
     border-radius: 150px;
     display: block;
     margin: auto;
 
 }
 .text-big {
     font-size: 41px;
   
 }
 
 .text-small{
     font-size: 18px;
 
 }
 .btn {
     padding: 5px 10px;
     margin: 7px 3px;
     border: 2px solid white;
     border-radius: 7px;
     background: none;
     color: white;
     cursor: pointer;
 
 }
 .btn-sm{
     padding: 6px 10px;
     vertical-align: middle;
 
 }
 
 .section {
     
     display: flex;
     align-items: center;
     justify-content:space-evenly;
     max-width: 80%;
     margin:auto;
     font-family: "Ubuntu", sans-serif;
     padding: 5px;
 
 }
 
 
 
 .paras {
     padding: 0px 65px;
 }
 
 .section-left {
    
     flex-direction: row-reverse;
 
 
 }
 .sectionsubTag{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .thumbnail img{
     width: 250px;
     border: 2px solid black;
     border-radius: 23px;
     margin-top: 80px;
     
   
 
 }


.email2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    flex-direction: column-reverse;
}
 .burger {
     display: none;
     position: absolute;
     cursor: pointer;
     right: 5%;
     top: 15px;
 
 }
 
 .line{
     width: 33px;
     background-color: rgb(245, 242, 242);
     height: 4px;
     margin: 3px 3px;
 }
 
 .logo2{
     position: absolute;
     left: 5%;
     top: 15px;
     display: none;
     width: 33px;
 }
 .logo3{
     color: rgb(36, 35, 35);
     height: 4px;
     margin: 3px 3px;
     width: 33px;
 }

 .logo img {
    width: 33%;
    border-radius: 50% ;
    border: 1px solid rgb(0, 102, 255);
}

 .form3{
    background-color: #8f8f8f;
    height: 100px;
    display: flex;
   
    justify-content: center;
    text-align: end;
    font-size: 20px;
    
 }
 h2{
    
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 25px;
    margin-right: 10px;

 }

 .btn4{
    width: 30%;
    height: 60px;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    background-color: #222020;
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgb(15, 14, 14);
    
}
.btn4:hover{
    background-color: #5a5757;
    

}

/* footer for social and more */

.text-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer2{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px 0;
  
}
.text-footer2 a{
   color: white;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.socialmedia2 {
    margin-top: 80px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.btn56{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #575454;
    margin: 10px;
    border-radius: 15%;
    box-shadow: 0 5px 15px -5px black;
    overflow: hidden;


}
.btn56 i{
    line-height: 50px;
    font-size: 25px;
    transition: 0.2s linear;
    color: white;
    
    
}

.btn56:hover i {
    transform: scale(1.7);
    color: rgb(43, 160, 255);
    
}

.socialmedia2 p{
    color: rgb(180, 174, 174);
}





.terms23{
   margin-left: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* investor detials */
.investor{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
}


.details p{
    color: rgb(71, 139, 216);
    
}


/* end of investor details */

.whatsapp2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202224;
    
}

.whatsapp2 a{
    text-decoration: none;
    color: rgb(34, 165, 252);
    gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

marquee{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.howto{
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.howto h3{
    color: #8f8f8f;
}

/* responsive for live chart */
@media (max-width: 1033px ){
    .livec{
        width: 450px;
        height: 450px;


    }
    
    .livc2{

        width: 450px;
        height: 450px;
    
    }
    

}

@media (max-width: 775px ){
    .livec{
        width: 100%;
       


    }
    
    .livc2{
        width: 100%;

        
    
    }
    .allcharts{
        flex-direction: column;
    }

    .investor{
        flex-direction: column;
        
        gap: 50px;
        margin: 20px;
    }

}


/* withdrwal data base */

.contact-container6{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url(bgimg.jpg);
    background-size: cover;
    
    
}
.contact-left6{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
}

.contact-left-title h2{
    font-weight: 600;
    color: #5f046b;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:#5f046b ;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs6{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #fdf9f9;
    border-radius: 2px;
    background-color: rgba(7, 235, 185, 0.973);;
}

.contact-left6 textarea{
    height: 100px;
    padding-top: 15px;
    border-radius: 1px;
    
}

.contact-inputs6:focus{
    border: 2px solid #5f046b;
}
.contact-inputs6::placeholder{
    color: #ffffff;
    
}

.contact-left6 button{
    display: flex;
    align-items: center;
    padding: 7px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border-radius: 5px;
    background: linear-gradient(270deg,#07e8f0 ,black);
    cursor: pointer;
     
}
.contact-left6 button img{
    height: 15px;
}

.contact-right6{
    color: #cecbcb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}
.contact-right6 a{
    text-decoration: none;
    color: rgb(235, 247, 235);
    font-size: 20px;
    
}


.widthrawl {
    margin: 25px;
    
    
}



/* desing for card pi network payment mode */

.payment34{
    width: 300px;
    height: 390px;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
    font-family: "Ubuntu", sans-serif;
    border-radius: 1px;
    background-color: #ffffff;
    margin-top: 5%;    

}
.desc {
    padding: 0 2px 0 2px;
    
    margin: 10px;
    margin-top: 1px;
    
}

.desc p{
    color: #6b6a6a;
    
}
.desc i{
    color: #5f046b;
    
}

.payment34 img{
    height: 115px;
    width: 100%;
    border-radius: 1px 1px 0 0;
    /* box-shadow: 0 1px 2px rgb(85, 88, 85); */
    
}
.payment34:hover{
    box-shadow: 0 8px 16px rgb(85, 88, 85);
}
.paymentcourse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 100px; */
    
    background-size: cover;
    background-color: #b2d3e0;
}

.btn78{
    width: 170px;
    height: 35px;
    border: 0;
    border-radius: 0 10px 10px 0px;
    background-color: 	#1f2020;
    background-color: rgba(7, 235, 185, 0.973);
}
.btn78 a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 650;
    color: #f8f8f8;
}
.btn78 a:hover{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
}


.plncourse{
    width: 100%;
    height: 80px;
    background-color: #b2d3e0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    
    background-size:cover ;
}
.pln34{
    font-size: 50px;
    color: #5f046b;
    margin-top: 20px;
}
 .pln36{
    font-size: 50px;
    color: #5f046b;
    margin-top: 20px;
    
} 


.invester1{
    
    justify-content: space-around;
    align-items: center;
} 


/* paymentfees card */

.paymentfees{
    background:  #ddf8f4;
    display: flex;
    justify-content: space-around;
}


/* live chrt for pi network */


.chartforpi {
    height: 450px;

}

.pinetowrk2{
    height: 450px;

}





 
 
 @media (max-width: 1140px ){
     .nav-list{
      flex-direction: column;
      margin-top: 30px;
      gap: 0.5px;
      

     }

   
     .navbar{
        flex-direction: column;
        transition: all 0.10s ease-out;
        height: 350px;
     }
     .rightnav{
         text-align: center;
     }
     #search{
         width: 100%;
     }
     .burger{
         display: block;
 
     }
     .hnav-resp{
         height: 65px;
     }
     .v-class-resp{
         opacity: 0;
         display: none;
     }
     .logo2{
         display: block;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
     .logo{
         display: none;
     }
     .box-main{
         flex-direction: column-reverse;
         max-width: 100%;
     }
 
     .section{
         flex-direction: column-reverse;
     }
     .text-big{
         text-align: center;
         
     }
     .text-small{
         text-align: center;
         
     }
     .buttons{
         text-align: center;
     }
     .paras{
         padding: 0px 0px;
         
     }
     .rightnav{
        display: none;
        
    }
    
 }

 @media (max-width: 502px ){

    /* for btn social media */
    .btn56{
        width: 30px;
        height: 30px;
    }
    .btn56 i{
        line-height: 32px;
        font-size: 15px;  
        
    }

    .text-footer{
        font-size: 13px;
    }
    .text-footer2{
        font-size: 14px;
    }
    .socialmedia2 p{
        font-size: 14px;

    }
}


@media (max-width: 675px ){
    .paymentfees{
        flex-direction: column;
        align-items: center;
    }
}


/* 
blink market pi price */

.blink {
    color: rgb(255, 0, 0);
    animation: blinkAnimation 1s infinite; /* 1-second delay */
   
}

@keyframes blinkAnimation {
    0% { opacity: 1; } /* Fully visible */
    50% { opacity: 0.3; } /* Fully transparent */
    100% { opacity: 1; } /* Fully visible */
}


.blink1 {
    color: rgb(1, 156, 53);
    animation: blink1Animation 2s infinite; /* 1-second delay */
    
    
}

@keyframes blink1Animation {
    0% { opacity: 1; } /* Fully visible */
    50% { opacity: 0; } /* Fully transparent */
    100% { opacity: 1; } /* Fully visible */
}

.liveratepi{
    background:  #ddf8f4;
    

}

.pic{
 margin-left: 20px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.liveratepi p{
    font-size: 11px;
}